.background-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 4834px;
  }
  .interno2 {
    position: absolute;
    top: 0;
    left: 44px;
    line-height: 125%;
  }
  .logo-icon {
    position: absolute;
    height: 68%;
    width: 19.21%;
    top: 16%;
    right: 80.79%;
    bottom: 16%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .logo {
    width: 177px;
    position: relative;
    height: 50px;
  }
  .it-is-a,
  .sub-content {
    width: 393px;
    display: flex;
  }
  .it-is-a {
    position: relative;
    font-size: var(--font-size-3xl);
    letter-spacing: 0.01em;
    line-height: 150%;
    font-family: var(--font-jost);
    color: var(--color-dimgray);
    align-items: center;
  }
  .sub-content {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 18px;
  }
  .div,
  .div3 {
    position: relative;
    letter-spacing: 0.06em;
    line-height: 120%;
    text-transform: uppercase;
  }
  .div3 {
    font-size: var(--font-size-lgi);
  }
  .icons,
  .interno1 {
    display: flex;
    justify-content: flex-start;
  }
  .icons {
    width: 225px;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-35xl);
    text-align: center;
    font-size: var(--font-size-lg);
    font-family: var(--font-font-awesome-5-brands);
  }
  .interno1 {
    width: 393px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-12xl);
    font-size: var(--font-size-21xl);
  }
  .pages1 {
    position: relative;
    line-height: 125%;
  }
  .about-us {
    margin: 0;
  }
  .about-us-our-container {
    position: relative;
    font-size: var(--font-size-3xl);
    letter-spacing: 0.01em;
    line-height: 300%;
    font-family: var(--font-jost);
    color: var(--color-dimgray);
  }
  .pages,
  .services1 {
    width: 125px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-4xs);
  }
  .services1 {
    width: 120px;
  }
  .contact1 {
    width: 87px;
    position: relative;
    line-height: 125%;
    display: flex;
    align-items: center;
  }
  .east-birchwood-ave {
    line-height: 150%;
  }
  .contactinternocom,
  .p {
    line-height: 300%;
  }
  .p {
    margin: 0;
  }
  .east-birchwood-ave-container1 {
    width: 100%;
  }
  .east-birchwood-ave-container {
    width: 258px;
    position: relative;
    font-size: var(--font-size-3xl);
    letter-spacing: 0.01em;
    font-family: var(--font-jost);
    color: var(--color-dimgray);
    display: flex;
    align-items: center;
  }
  .contact,
  .interno {
    width: 258px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 26px;
  }
  .interno {
    width: 1199px;
    flex-direction: row;
    gap: 101px;
  }
  .copyright-interno {
    position: absolute;
    top: 40px;
    left: 584px;
    letter-spacing: 0.01em;
    line-height: 150%;
  }
  .line {
    position: absolute;
    top: -0.5px;
    left: -0.5px;
    border-top: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
    width: 1921px;
    height: 1px;
  }
  .copyright {
    width: 1920px;
    position: relative;
    height: 73px;
    font-size: var(--font-size-3xl);
    color: var(--color-dimgray);
    font-family: var(--font-jost);
  }
  .footer {
    position: absolute;
    top: 4215px;
    left: 1px;
    width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 134px;
  }
  .design-sprints-are,
  .lorem-ipsum-dolor {
    width: 560px;
    position: relative;
    letter-spacing: 0.02em;
    line-height: 125%;
    display: inline-block;
  }
  .lorem-ipsum-dolor {
    width: 799px;
    font-size: var(--font-size-3xl);
    letter-spacing: 0.01em;
    line-height: 150%;
    font-family: var(--font-jost);
    color: var(--color-dimgray);
  }
  .text {
    width: 799px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xl);
  }
  .contrary-to-popular,
  .div5 {
    width: 5.39px;
    position: relative;
    letter-spacing: 0.02em;
    line-height: 125%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .contrary-to-popular {
    width: 713px;
    font-size: var(--font-size-3xl);
    letter-spacing: 0.01em;
    line-height: 150%;
    font-family: var(--font-jost);
    color: var(--color-dimgray);
  }
  .div4 {
    width: 732.39px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14px;
  }
  .contrary-to-popular1,
  .div7 {
    width: 8.47px;
    position: relative;
    letter-spacing: 0.02em;
    line-height: 125%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .contrary-to-popular1 {
    width: 712px;
    font-size: var(--font-size-3xl);
    letter-spacing: 0.01em;
    line-height: 150%;
    font-family: var(--font-jost);
    color: var(--color-dimgray);
  }
  .div6,
  .points,
  .sub-content1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .div6 {
    width: 731.47px;
    flex-direction: row;
    gap: var(--gap-2xs);
  }
  .points,
  .sub-content1 {
    flex-direction: column;
  }
  .points {
    width: 732.39px;
    gap: 32px;
    font-size: var(--font-size-xl);
    color: var(--color-burlywood);
  }
  .sub-content1 {
    width: 799px;
    gap: var(--gap-5xl);
  }
  .image-icon {
    width: 799px;
    position: relative;
    height: 365px;
    object-fit: cover;
  }
  .lorem-ipsum-dolor1 {
    width: 799px;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 150%;
    display: inline-block;
  }
  .sub-content3 {
    width: 799px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 35px;
  }
  .tags-social-icon-child {
    position: absolute;
    top: 136.5px;
    left: -0.5px;
    border-top: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
    width: 801px;
    height: 1px;
  }
  .button1,
  .button2 {
    border-radius: var(--br-3xs);
    background-color: var(--color-darkslategray);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-smi) 25px;
  }
  .button2 {
    background-color: var(--color-whitesmoke);
    padding: var(--padding-smi) 22px;
    color: var(--color-darkslategray);
  }
  .button,
  .tags1 {
    justify-content: flex-start;
  }
  .button {
    width: 244px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xl);
    text-align: center;
    font-size: var(--font-size-lg);
    color: var(--color-white);
    font-family: var(--font-jost);
  }
  .tags1 {
    width: 306px;
    gap: var(--gap-2xl);
  }
  .icon,
  .tags,
  .tags1 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .icon {
    width: 225px;
    justify-content: flex-end;
    gap: var(--gap-35xl);
    text-align: center;
    font-size: var(--font-size-lg);
    color: var(--color-darkslategray);
    font-family: var(--font-font-awesome-5-brands);
  }
  .tags {
    position: absolute;
    top: 44px;
    left: 0;
    width: 800px;
    justify-content: flex-start;
    gap: 268px;
  }
  .tags-social-icon-item {
    position: absolute;
    top: -0.5px;
    left: -0.5px;
    border-top: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
    width: 801px;
    height: 1px;
  }
  .tags-social-icon {
    width: 800px;
    position: relative;
    height: 137px;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-dm-serif-display);
  }
  .content,
  .sub-content2 {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sub-content2 {
    gap: 62px;
    font-size: var(--font-size-3xl);
    color: var(--color-dimgray);
    font-family: var(--font-jost);
  }
  .content {
    position: absolute;
    top: 1369px;
    left: 0;
    gap: var(--gap-25xl);
  }
  .i,
  .the-details-are-container {
    position: absolute;
    top: 91px;
    left: 0;
    letter-spacing: 0.02em;
    line-height: 125%;
    display: inline-block;
    width: 345px;
    height: 70px;
  }
  .i {
    top: 133px;
    left: 243px;
    font-size: 200px;
    width: 106px;
    height: 133px;
    transform: rotate(-180deg);
    transform-origin: 0 0;
  }
  .content1 {
    width: 345px;
    position: relative;
    height: 161px;
  }
  .quotes {
    position: absolute;
    top: 1075px;
    left: 1px;
    border-radius: 50px;
    background-color: var(--color-whitesmoke);
    width: 799px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 53px 227px;
    box-sizing: border-box;
    text-align: center;
    font-size: var(--font-size-6xl);
    color: var(--color-burlywood);
  }
  .lets-get-solution-container {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 0.0em;
    line-height: 125%;
    display: inline-block;
    width: 684px;
  }
  .image-icon1,
  .title {
    width: 684px;
    position: relative;
    height: 126px;
  }
  .image-icon1 {
    width: 799px;
    height: 539px;
    object-fit: cover;
  }
  .sub-content5 {
    width: 799px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-2xl);
  }
  .december2022,
  .interior-design {
    width: 146px;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 150%;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    height: 24px;
    flex-shrink: 0;
  }
  .interior-design {
    width: 249px;
  }
  .date,
  .sub-content4 {
    display: flex;
    justify-content: flex-start;
  }
  .date {
    flex-direction: row;
    align-items: center;
    gap: 409px;
    font-size: var(--font-size-base);
    color: var(--color-dimgray);
    font-family: var(--font-jost);
  }
  .sub-content4 {
    width: 804px;
    flex-direction: column;
    align-items: flex-start;
    gap: 46px;
  }
  .lorem-ipsum-dolor-container {
    width: 799px;
    position: relative;
    font-size: var(--font-size-3xl);
    letter-spacing: 0.01em;
    line-height: 150%;
    font-family: var(--font-jost);
    color: var(--color-dimgray);
    display: inline-block;
    height: 236px;
    flex-shrink: 0;
  }
  .content2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 804px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 48px;
  }
  .blog-details2 {
    width: 804px;
    position: relative;
    height: 2579px;
  }
  .leave-a-reply-container {
    width: 179px;
    position: relative;
    letter-spacing: 0.02em;
    line-height: 125%;
    font-family: var(--font-dm-serif-display);
    display: inline-block;
    height: 55px;
    flex-shrink: 0;
  }
  .line1 {
    position: absolute;
    top: 44.5px;
    left: -0.5px;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 379px;
    height: 1px;
  }
  .name {
    width: 378px;
    position: relative;
    height: 45px;
  }
  .email {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 0.01em;
    line-height: 150%;
    display: flex;
    align-items: center;
    width: 81px;
    height: 32px;
  }
  .div14 {
    width: 800px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-25xl);
  }
  .hello-iam-intrested {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 0.01em;
    line-height: 150%;
    display: flex;
    align-items: center;
    width: 225px;
    height: 45px;
  }
  .line5 {
    position: absolute;
    top: 174.5px;
    left: -0.5px;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 801px;
    height: 1px;
  }
  .div16 {
    width: 800px;
    position: relative;
    height: 175px;
  }
  .form1 {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-31xl);
    font-size: var(--font-size-3xl);
    color: var(--color-dimgray);
  }
  .box {
    width: 17px;
    position: relative;
    border-radius: 3px;
    border: 2px solid var(--color-burlywood);
    box-sizing: border-box;
    height: 17px;
  }
  .save-my-name {
    position: relative;
    letter-spacing: 0.0em;
    line-height: 125%;
  }
  .comments,
  .form {
    display: flex;
    justify-content: flex-start;
  }
  .comments {
    width: 652px;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-3xs);
    text-align: center;
    font-size: var(--font-size-lg);
    color: var(--color-burlywood);
  }
  .form {
    width: 800px;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
  }
  .send-now1 {
    position: relative;
    letter-spacing: 0.0em;
    line-height: 125%;
    font-weight: 600;
  }
  .vector-icon {
    width: 15.14px;
    position: relative;
    height: 13.18px;
  }
  .button3,
  .send-now {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .send-now {
    flex-direction: row;
    gap: var(--gap-4xs);
  }
  .button3 {
    border-radius: 18px;
    background-color: var(--color-darkslategray);
    box-shadow: 0 10px 20px rgba(192, 192, 192, 0.35);
    flex-direction: column;
    padding: 26px 54px;
    text-align: center;
    font-size: var(--font-size-lg);
    color: var(--color-white);
  }
  .blog-details1,
  .leave-a-reply {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .leave-a-reply {
    width: 800px;
    gap: 63px;
    font-size: var(--font-size-6xl);
    font-family: var(--font-jost);
  }
  .blog-details1 {
    width: 804px;
    gap: 93px;
  }
  .search2 {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 150%;
  }
  .vector-icon1 {
    width: 26.93px;
    position: relative;
    height: 27px;
  }
  .search1 {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 187px;
  }
  .div18,
  .search {
    display: flex;
    align-items: center;
  }
  .search {
    border-radius: var(--br-xl);
    background-color: var(--color-whitesmoke);
    flex-direction: column;
    justify-content: center;
    padding: 34px 33px;
    font-size: var(--font-size-3xl);
    color: var(--color-burlywood);
    font-family: var(--font-jost);
  }
  .div18 {
    position: absolute;
    top: 55px;
    left: 244px;
    letter-spacing: 0.01em;
    line-height: 150%;
    text-transform: capitalize;
    width: 96px;
    height: 24px;
  }
  .we-focus-on-container {
    position: absolute;
    top: 0;
    left: 0;
    font-size: var(--font-size-xl);
    letter-spacing: 0.02em;
    line-height: 125%;
    font-family: var(--font-dm-serif-display);
    color: var(--color-darkslategray);
  }
  .line6 {
    position: absolute;
    top: 84.5px;
    left: -0.5px;
    border-top: 1px solid var(--color-burlywood);
    box-sizing: border-box;
    width: 346px;
    height: 1px;
  }
  .div17 {
    width: 345px;
    position: relative;
    height: 85px;
  }
  .content3,
  .latest-news {
    width: 345px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .content3 {
    align-items: center;
    gap: 34px;
    font-size: var(--font-size-base);
    color: var(--color-dimgray);
    font-family: var(--font-jost);
  }
  .latest-news {
    align-items: flex-start;
    gap: 33px;
  }
  .categories1 {
    width: 123px;
    position: relative;
    letter-spacing: 0.02em;
    line-height: 125%;
    display: flex;
    align-items: center;
  }
  .decoration-door-windows-container {
    position: absolute;
    top: 0;
    left: 2px;
    letter-spacing: 0.01em;
    line-height: 300%;
  }
  .line10,
  .line11,
  .line9 {
    position: absolute;
    top: 67.5px;
    left: 1.5px;
    border-top: 1px solid var(--color-burlywood);
    box-sizing: border-box;
    width: 279px;
    height: 1px;
  }
  .line10,
  .line11 {
    top: 130.5px;
  }
  .line11 {
    top: 196.5px;
    left: -0.5px;
  }
  .points1 {
    width: 280px;
    position: relative;
    height: 264px;
    font-size: var(--font-size-3xl);
    color: var(--color-dimgray);
    font-family: var(--font-jost);
  }
  .contrent {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xs);
  }
  .categories,
  .div24 {
    justify-content: center;
  }
  .categories {
    width: 344px;
    border-radius: var(--br-xl);
    background-color: var(--color-whitesmoke);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 27px 32px;
    box-sizing: border-box;
  }
  .div24 {
    border-radius: var(--br-3xs);
    background-color: var(--color-darkslategray);
    align-items: center;
    padding: var(--padding-4xs) var(--padding-11xl);
  }
  .div23,
  .div24,
  .div25 {
    display: flex;
    flex-direction: row;
  }
  .div25 {
    border-radius: var(--br-3xs);
    background-color: var(--color-whitesmoke);
    align-items: center;
    justify-content: center;
    padding: var(--padding-4xs) var(--padding-11xl);
    color: var(--color-darkslategray);
  }
  .div23 {
    width: 261px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xs);
  }
  .div27 {
    border-radius: var(--br-3xs);
    background-color: var(--color-whitesmoke);
    align-items: center;
    justify-content: center;
    padding: var(--padding-4xs) var(--padding-11xl);
  }
  .div26,
  .div27,
  .div28,
  .div29 {
    display: flex;
    flex-direction: row;
  }
  .div28 {
    border-radius: var(--br-3xs);
    background-color: var(--color-whitesmoke);
    align-items: center;
    justify-content: center;
    padding: var(--padding-4xs) var(--padding-11xl);
    color: var(--color-black);
  }
  .div26,
  .div29 {
    width: 292px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xs);
    color: var(--color-darkslategray);
  }
  .div29 {
    width: 335px;
    color: var(--color-black);
  }
  .content4,
  .tags3 {
    flex-direction: column;
  }
  .content4 {
    width: 335px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-2xs);
    text-align: center;
    font-size: var(--font-size-lg);
    color: var(--color-white);
    font-family: var(--font-jost);
  }
  .tags3 {
    width: 345px;
    gap: var(--gap-5xl);
  }
  .blog,
  .sidebar,
  .tags3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sidebar {
    width: 345px;
    flex-direction: column;
    gap: var(--gap-31xl);
    font-size: var(--font-size-6xl);
  }
  .blog {
    position: absolute;
    top: 690px;
    left: 360px;
    width: 1201px;
    flex-direction: row;
    gap: 52px;
    font-size: var(--font-size-31xl);
  }
  .banner-icon {
    position: absolute;
    top: 139px;
    left: 0;
    width: 1920px;
    height: 351px;
    object-fit: cover;
  }
  .home-pages-services {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 125%;
    white-space: pre-wrap;
  }
  .menu,
  .search-icon {
    width: 572px;
    position: relative;
    height: 25px;
  }
  .search-icon {
    width: 21px;
    height: 21px;
    opacity: 0.8;
  }
  .header,
  .menubar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .menubar {
    width: 624px;
    justify-content: flex-end;
    gap: var(--gap-12xl);
    text-align: center;
    font-size: var(--font-size-xl);
    font-family: var(--font-jost);
  }
  .header {
    position: absolute;
    top: 44px;
    left: 360px;
    width: 1200px;
    justify-content: flex-start;
    gap: 399px;
    font-size: var(--font-size-21xl);
  }
  .blog-details {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    height: 4834px;
    text-align: left;
    font-size: var(--font-size-6xl);
    color: var(--color-darkslategray);
    font-family: var(--font-dm-serif-display);
  }
  